<h3 >
  Restaurant Reservations
  @if (reservationsList.length > 0) {
  <span class="badge text-bg-secondary float-end">{{reservationsList.length}} - Reservation/s</span>
  }
</h3>
 
@if (reservationsList.length > 0) {
<div class="table-responsive">
  <table class="shadow table table-striped table-hover table-group-divider table-bordered align-middle text-center">
    <thead>
      <tr>
        <th class="sortable" (click)="sortData('id')">
          ID
          <span class="sort-indicator" [ngClass]="{'sort-asc': sortColumn === 'id' && sortOrder === 'asc', 'sort-desc': sortColumn === 'id' && sortOrder === 'desc'}"></span>
        </th>
        <th class="sortable" (click)="sortData('businessDate')">
          Business Date
          <span class="sort-indicator" [ngClass]="{'sort-asc': sortColumn === 'businessDate' && sortOrder === 'asc', 'sort-desc': sortColumn === 'businessDate' && sortOrder === 'desc'}"></span>
        </th>
        <th class="sortable" (click)="sortData('status')">
          Status
          <span class="sort-indicator" [ngClass]="{'sort-asc': sortColumn === 'status' && sortOrder === 'asc', 'sort-desc': sortColumn === 'status' && sortOrder === 'desc'}"></span>
        </th>
        <th class="sortable" (click)="sortData('shift')">
          Shift
          <span class="sort-indicator" [ngClass]="{'sort-asc': sortColumn === 'shift' && sortOrder === 'asc', 'sort-desc': sortColumn === 'shift' && sortOrder === 'desc'}"></span>
        </th>
        <th class="sortable" (click)="sortData('quantity')">
          Guests
          <span class="sort-indicator" [ngClass]="{'sort-asc': sortColumn === 'quantity' && sortOrder === 'asc', 'sort-desc': sortColumn === 'quantity' && sortOrder === 'desc'}"></span>
        </th>
        <th class="sortable" (click)="sortData('customer.firstName')">
          Customer Name
          <span class="sort-indicator" [ngClass]="{'sort-asc': sortColumn === 'customer.firstName' && sortOrder === 'asc', 'sort-desc': sortColumn === 'customer.firstName' && sortOrder === 'desc'}"></span>
        </th>
        <th class="sortable" (click)="sortData('area')">
          Area
          <span class="sort-indicator" [ngClass]="{'sort-asc': sortColumn === 'area' && sortOrder === 'asc', 'sort-desc': sortColumn === 'area' && sortOrder === 'desc'}"></span>
        </th>
        <th>Notes</th>
      </tr>
    </thead>
    
    <tbody>
      @for (reservation of reservationsList; track $index) {
      <tr>
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.businessDate }}</td>
        <td>{{ reservation.status | titlecase }}</td>
        <td>{{ reservation.shift | titlecase }}</td>
        <td>{{ reservation.quantity }} Person/s</td>
        <td>
          {{ reservation.customer.firstName }}
          {{ reservation.customer.lastName }}
        </td>
        <td>{{ reservation.area | titlecase }}</td>
        <td>{{ reservation.guestNotes }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
} @else {
  <div class="col" [ngClass]="'fade-in'">
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 " role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        <h3 class="display-4 text-capitalize">No Reservations available based on the your filtering/search critira</h3>
      </div>
    </div>
  </div>
}


<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>