<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered align-middle">
    <thead>
      <tr>
        <th [appSort]="reservationsList" data-order="desc" data-name="id">
          ID
        </th>
        <th>Business Date</th>
        <th [appSort]="reservationsList" data-order="desc" data-name="status">Status</th>
        <th  [appSort]="reservationsList" data-order="desc" data-name="shift">Shift</th>
        <th [appSort]="reservationsList" data-order="desc" data-name="quantity">Guests</th>
        <th [appSort]="reservationsList" data-order="desc" data-name="customer">Customer Name</th>
        <th [appSort]="reservationsList" data-order="desc" data-name="area">Area</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      @for (reservation of reservationsList; track reservation.id) {
      <tr>
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.businessDate }}</td>
        <td>{{ reservation.status | titlecase }}</td>
        <td>{{ reservation.shift | titlecase }}</td>
        <td>{{ reservation.quantity }} Person/s</td>
        <td>
          {{ reservation.customer.firstName }}
          {{ reservation.customer.lastName }}
        </td>
        <td>{{ reservation.area | titlecase }}</td>
        <td>{{ reservation.guestNotes }}</td>
      </tr>
      } @empty {
      <hr />
      <h3>There are no data matching your searching crieteia</h3>
      }
    </tbody>
  </table>
</div>
