.reservationFilters {
  img {
    max-height: 70px;
  }

  .chips {
    display: inline-block;
    margin: 4px;
    botton {
      text-transform: lowercase !important;
      padding: 5px 8px;
    }
    i {
      padding-left: 5px;
    }
  }
  /* adding pointer cursor to the icons, and use fixed width */
  .input-group-text {
    width: 40px;
    &.clickable {
      cursor: pointer;
    }
  }

  /* Apply focus style to the input field and adjacent icon */
  .searchInput .input-group:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  /* Remove the box shadow from the input field when focused */
  .searchInput .input-group .form-control:focus {
    box-shadow: none;
  }
}
