.reservationFilters {
  img {
    max-height: 70px;
  }

  .chips {
    display: inline-block;
    margin: 4px;
    botton {
      padding: 5px 8px;
    }
    i {
      padding-left: 5px;
    }
  }
}
